@import url("../../animations.css");

.container {
  margin: 0 auto;
  margin-top: var(--space-xxl);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space-xxl) * 2);
  gap: var(--space-larger);

  border-radius: var(--border-radius-lg);
  border: 2px solid var(--border-secondary);
  background-color: var(--bg-primary-alpha);
  backdrop-filter: blur(1px);
  box-shadow: var(--aureola-blue);

  &.center {
    justify-content: center;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--space-lg) * 2);
}

.field {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  animation: fadeIn calc(0.3s * var(--index)) ease;

  &.fullWidth {
    max-width: 100%;
  }

  .fieldLabel {
    display: flex;
    align-items: center;
    gap: var(--space-sm);

    .fieldLabelText {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-bold);
      color: var(--text-secondary);
    }
  }

  .labelIcon {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
  }

  .required {
    color: var(--error);
    margin-left: 2px;
  }

  .inputWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    &:focus-within {
      .inputIcon {
        color: var(--primary);
      }
    }
  }

  .inputIcon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-secondary);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    --size: 18px;
    width: var(--size);
    height: var(--size);
    color: var(--text-tertiary);

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .inputWithIcon {
    padding-left: 2.5rem;
    padding-right: var(--space-sm);
  }

  .selectWithIcon {
    width: 100%;
  }
}

.alternative {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);

  .alternativeText {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
    color: var(--text-secondary);
  }
}

.error {
  color: var(--error);
}

.offlineWarning {
  color: var(--warning);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-top: var(--space-lg);
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    height: 100%;
    padding: var(--space-xl);
    margin-top: 0;
    padding-top: var(--space-larger);
    border-radius: 0;
    border: none;
    background-color: transparent;
  }
}
