.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .faqAnswer {
        font-size: var(--font-size-md);
        color: var(--text-secondary);
        max-width: none;
    }
}
