.layout {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;

    --s: 464px;
    --_g: #0000 90deg, var(--bg-c1) 0;
    background: conic-gradient(from 90deg at 2px 2px, var(--_g)),
        conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--bg-c2);
    background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);

    .main {
        width: 100%;
        max-width: calc(var(--max-width) + var(--space-xl) * 2);
        min-height: 100dvh;
        padding: var(--space-xl);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .layout.single {
        .main {
            height: 100dvh;
            max-width: 100%;
            padding: 0;
        }
    }
}