.badge {
    width: max-content;
    height: 38px;
    padding: var(--space-xs) var(--space-lg);
    background-color: var(--bg-overlay);
    border-radius: var(--border-radius-full);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);

    text-transform: uppercase;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    color: #FFFFFF;
    letter-spacing: 0.5px;

    &.semi_thin {
        height: 30px;
        padding: var(--space-xs) var(--space-md);
        font-weight: var(--font-weight-bold);
        text-transform: none;
    }

    &.thin {
        height: 24px;
        padding: var(--space-sm) var(--space-md);
        text-transform: none;
        font-weight: var(--font-weight-bold);
    }

    &.planned {
        background-color: var(--active-strong);
    }

    &.ongoing,
    &.editor {
        background-color: var(--primary-strong);
    }

    &.completed,
    &.owner {
        background-color: var(--done);
    }

    &.draft,
    &.viewer {
        background-color: var(--draft-strong);
    }

    &.cancelled {
        background-color: var(--cancelled);
    }

    &.alpha {
        background-color: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(10px);
    }
}