.searchbar {
    --border-radius: var(--border-radius-lg);

    height: 42px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    color: var(--text-tertiary);
    transition: all 0.2s ease;

    .input {
        height: 100%;
        border: 2px solid var(--border-secondary);
        border-left: none;
        border-right: none;
        padding-left: 0;
        background-color: var(--bg-secondary);
        border-radius: 0;
        transition: all 0.2s ease;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .button {
        color: var(--text-tertiary);
        border: 2px solid var(--border-secondary);
        border-right: none;
        background-color: var(--bg-secondary);
        height: 100%;
        aspect-ratio: 1;
        padding: var(--space-sm);
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        cursor: pointer;
        transition: all 0.2s ease;

        @media (hover: hover) {
            &:hover {
                color: var(--primary);
            }
        }

        &:focus {
            outline: none;
        }
    }

    .clearButton {
        color: var(--text-tertiary);
        border: 2px solid var(--border-secondary);
        border-left: none;
        background-color: var(--bg-secondary);
        height: 100%;
        aspect-ratio: 1;
        padding: var(--space-sm);
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
        cursor: pointer;
        transition: all 0.2s ease;

        @media (hover: hover) {
            &:hover {
                color: var(--primary);
            }
        }

        &:focus {
            outline: none;
        }
    }

    &:not(:has(.clearButton)) {
        .input {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
            border-right: 2px solid var(--border-secondary);
        }
    }

    &:has(.input:focus) {

        .input,
        .button,
        .clearButton {
            backdrop-filter: blur(24px);
            border-color: var(--primary);
        }
    }

    @media (hover: hover) {
        &:hover {

            .input,
            .button,
            .clearButton {
                backdrop-filter: blur(24px);
                border-color: var(--primary);
            }
        }
    }
}
